.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting-icon i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.9;
}

.settings__setting-column:last-child {
  opacity: 0.5;
  font-size: 16px;
}

.settings__setting-column {
  display: flex;
}

.settings__setting-column span {
  margin-left: 5px;
}

.settings__setting-icon {
  width: 25px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
